:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e9d7d7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  box-shadow: 0 1px 3px -2px rgb(16, 15, 15);
  box-sizing: border-box;
  background-color: #242424;
  border: 1px solid #b1aeb6;
  color: var(--afblue);
}


.nav-logo {
    display: flex;
    align-items: center;
    gap: 15px;
   
  }
  
.nav-logo img {
  width: 60px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.nav-logo p{
  color: rgba(255, 255, 255, 0.87);
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display:flex;
    align-items:center;
    list-style-type:  none;
    gap: 50px;
    color: rgba(255, 255, 255, 0.87);
    font-size:  20px;
    font-weight: 500;
}
  .nav-menu li {
    cursor: pointer;
    padding-bottom: 0px;
  }
 
  .nav-login-cart{
    display:flex;
    align-items:center;
    justify-content:end;
    gap: 15px;
   padding-top: 0px;
  }
  .nav-login-cart button{
    width: 157px;
    height: 58px  ;
    outline: none;
    border:1px solid #7a7a7a;
    border-radius: 75px;
    color:#515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
  }
  .nav-login-cart button:active{
   
    background:#f3f3f3;
  }
  
.cart-icon {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
 
}
.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

  
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
